<% for (let listing of listings) { %>
    <div style="border: 1px solid #ccc; border-radius: 5px; padding: 15px; margin: 10px; width: 300px; background-color: rgb(227, 227, 142);">
      <img src="<%= listing.image %>" alt="house_image" style="width: 100%; height: 200px; object-fit: cover; border-radius: 5px 5px 0 0;" />
      <h2 style="font-size: 1.5em; margin: 10px 0;"><%= listing.title %></h2>
      <h3 style="font-size: 1.2em; margin: 5px 0; color: #555;">Location: <%= listing.location %></h3>
      <p style="color: #242323;"><%= listing.description %></p>
      <p style="font-weight: bold; margin-top: 10px;">$<%= listing.price_per_night %> per night</p>
    </div>
<% } %>